<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700|Raleway:300,400,500,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/3.1.3/vue-router.min.js"></script>
    <title>Roku Flashback</title>
</head>
<body>
    <main id="app">
        <div v-if="authenticated" class="mobile-nav">
            <div @click="closeMobileNav()" class="mobile-nav-cross">
                <img src="images/cross-purple.svg" alt="cross-btn">
            </div>
            <div @click="closeMobileNav()" class="mobile-nav-list">
                <router-link :to="{ name: 'catalog', params: {age: user['user_permissions'] }}">Home</router-link>
                <router-link :to="{ name: 'movieType', params: {type: 'movie', age: user['user_permissions'] }}">Movies</router-link>
                <router-link :to="{ name: 'tvType', params: {type: 'tv', age: user['user_permissions']}}">TV</router-link>
                <router-link :to="{ name: 'musicType', params: {type: 'music', age: user['user_permissions']}}">Music</router-link>
            </div>
        </div>
        <header>
            <div class="container header-container">
                <router-link :to="{ name: 'catalog', params: {age: user['user_permissions'] }}" class="header-logo">
                    <img src="images/logo.svg" alt="Roku logo">
                </router-link>
                <div class="header-menu">
                    <nav class="header-nav" v-if="authenticated">
                        <router-link :to="{ name: 'movieType', params: {type: 'movie', age: user['user_permissions'] }}" class="header-nav-link">Movies</router-link>
                        <router-link :to="{ name: 'tvType', params: {type: 'tv', age: user['user_permissions']}}" class="header-nav-link">Tv</router-link>
                        <router-link :to="{ name: 'musicType', params: {type: 'music', age: user['user_permissions']}}" class="header-nav-link">Music</router-link>
                    </nav>
                    <router-link to="/settings" class="header-user" v-if="authenticated">
                        <img :src="'images/' + user.user_avatar" alt="user-icon">
                    </router-link>
                </div>
                <router-link v-if="!authenticated" to="/login" href="login.html" class="header-cta">Log In</router-link>
                <div @click="openMobileNav()" v-if="authenticated" class="header-burger">
                    <img src="images/burger.svg" alt="burger icon">
                </div>
            </div>
        </header>
        <router-view @authenticated="setAuthenticated"></router-view>
    </main>
    <footer>
        <div class="container footer-container">
            <router-link :to="{ name: 'catalog', params: {age: user['user_permissions'] }}" class="footer-logo">
                <img src="images/logo-white.svg" alt="flashback logo">
            </router-link>
            <p>Roku Flashback © 2020</p>
        </div>
    </footer>
    <script src="js/main.js" type="module"></script>
</body>
</html>