// 
// Styles for mobile version
//
.banner-section{
    background-color: $purple;
    height:320px;
    overflow: hidden;
    height: calc(100vh - 50px);
    position: relative; 
    width:100vw;
}

.banner-slider-content{
    position: absolute;
    height:100%;
    left:0;
    top:0;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow:hidden;
    transition: 0.7s all ease-in-out;
}

.banner-slider-movie{
    width:100vw;
    height:100%;
    overflow: hidden;
    position: relative;

    video{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        height:100%;
        min-width: 100%;
    }
}

.banner-slider-movie-popup{
    position: absolute;
    top:0;
    left:0;
    background-color: rgba($color: #000000, $alpha: 0.2);
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: flex-end;
}

.slider-movie-popup-content{
    width:320px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 30px;
}

.movie-popup-content-row{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 10px;

    p{
        margin-left: 30px;
        text-decoration: underline;
    }
}

.banner-rounds{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top:30px;
}

.banner-round{
    width:19px;
    height:19px;
    border-radius: 50%;
    background-color: white;
    margin-right: 25px;
}

.banner-round:last-child{
    margin-right:0px;
}

.banner-round-active{
    background-color: black;
}

// Content section
.content-slider-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:50px;
    width: 100%;
}

.content-slider-section-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    position: relative;

    h2, a{
        color:black;
        text-decoration: none;
    }

    img{
        width:120px;
        position: absolute;
        top:0px;
        left:50%;
        transform: translateX(-50%);
    }
}

.content-slider-section-content{
    width:100%;
    height:280px;
    background-color: $purple;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-slider{
    height:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.content-slider-kids{
    padding-top:50px;
}

.tv-section-kids{
    background-color: #FECA18 !important;
}

.music-section-kids{
    background-color: #0EA3C0 !important;
}

.movie-section-kids{
    background-color: #C43394 !important;
}

.content-slider-arrow {
    width:10%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
    transition: 0.7s all ease-in-out;

    img{
        width:100%;
    }

    svg{
        transition: 0.2s all ease-in-out;
        width:100%;
        stroke: white;

        path{
            transition: 0.2s all ease-in-out;
            stroke: white;
        }
    }
}

.content-slider-arrow:hover{
    background-color: white;

    svg{
        stroke: $purple;

        path{
            stroke: $purple;
        }
    }
}

.content-slider-cover{
    width:240px;
    height:200px;
    overflow:hidden;
    position:relative;
}

.content-slider-content{
    position: absolute;
    left:0;
    top:0;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: 0.7s all ease-in-out;
}

.content-slider-movie{
    width:120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.content-slider-movie-img{
    height:200px;
    width:100%;
    overflow: hidden;
    position: relative;
    background-color: white;

    img{
        position: absolute;
        left:50%;
        top:50%;
        transform: translate(-50%, -50%);
        height:100%;
        min-width: 100%;
    }
}

.content-slider-movie-popup{
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-color: rgba($color: #000000, $alpha: 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity:1;
    transition: 0.7s all ease-in-out;

    p{
        margin-top:8px;
        font-size:12px;
        text-align: center;
    }

    h3{
        text-align: center;
    }
}

.slider-movie-popup-btn{
    margin-top:25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    font-family: "Raleway",sans-serif;
    font-size:14px;
    width:40px;
    height:40px;
    border: 1px solid white;
    border-radius: 50%;
    transition: 0.7s all ease-in-out;

    img{
        width:30%;
        margin-left:4px;
    }
}

// 
// Sryles for the tablet version
// 
@media screen and (min-width:720px){
    .banner-section{
        height: calc(100vh - 60px);
    }

    .banner-slider-content{
        height:100%;
    }

    .banner-slider-movie{
        width:100vw;
    }

    .slider-movie-popup-content{
        width:720px;
        margin-bottom: 50px;

        p{
            width:400px;
        }
    }

    // Content section
    .content-slider-section{
        margin-top:70px;
    }

    .content-slider-cover{
        width:600px;
    }

    .content-slider-arrow{
        width:5%;
    }
}

// 
// Styles for desktop version
// 
@media screen and (min-width:1200px){
    .banner-section{
        height: calc(100vh - 60px);
        width: 100%;
        overflow: hidden;
    }

    .banner-slider-content{
        height:100%;
    }

    .banner-slider-movie{
        width:100vw;
        height:100%;

        video{
            height:135%;
        }
    }

    .banner-slider-movie-popup{
        transition: 0.7s all ease-in-out;
    }

    .slider-movie-popup-content{
        width: 1200px;
        margin-bottom: 50px;

        p{
            margin-top:10px;
            width:600px;
        }
    }

    .movie-popup-content-row{
        p{
            cursor: pointer;
            transition: 0.7s all ease-in-out;
        }

        p:hover{
            color: $purple;
        }
    }

    .banner-round{
        cursor:pointer;
        transition: 0.7s all ease-in-out;
    }

    .banner-round:hover{
        background-color: grey;
    }

    // Content slider section
    .content-slider-cover{
        width:1080px;
    }

    .content-slider-movie{
        cursor: pointer;
        position: relative;
    }

    .content-slider-movie-popup{
        position: absolute;
        left:0;
        top:0;
        width:100%;
        height:100%;
        background-color: rgba($color: #000000, $alpha: 0.7);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity:0;
        transition: 0.7s all ease-in-out;

        p{
            margin-top:8px;
            font-size:12px;
        }
    }

    .content-slider-movie:hover{
        .content-slider-movie-popup{
            opacity: 1;
        }
    }

    .slider-movie-popup-btn{
        margin-top:25px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        text-decoration: none;
        font-family: "Raleway",sans-serif;
        font-size:14px;
        width:40px;
        height:40px;
        border: 1px solid white;
        border-radius: 50%;
        transition: 0.7s all ease-in-out;

        img{
            width:30%;
            margin-left:4px;
        }
    }

    .slider-movie-popup-btn:hover{
        background-color: $purple;
    }
}

@media screen and (min-width:1670px){
    .banner-slider-movie{
        video{
            height:130%;
        }
    }
}